<powershell>
# Execute UNE SEULE FOIS par EC2Launch au premier boot.
# Pas de balise <persist> : un reboot ou un futur apply ne re-executera pas ce script.

# Creation de l'utilisateur local avec le mot de passe initial
$Password = ConvertTo-SecureString '${password_to_change}' -AsPlainText -Force
New-LocalUser -Name '${username}' -Password $Password -FullName '${username}' -Description 'Cree par Terraform via user_data'

# Droits : administrateur local + acces RDP
Add-LocalGroupMember -Group 'Administrators' -Member '${username}'
Add-LocalGroupMember -Group 'Remote Desktop Users' -Member '${username}'

# Forcer le changement du mot de passe au premier login.
# Le mot de passe initial (visible dans le user_data) devient inutilisable apres la premiere connexion.
net user '${username}' /logonpasswordchg:yes

%{ if extra != "" ~}
# Extra user_data from caller
${extra}
%{ endif ~}
</powershell>
